body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.navbar {
  background-color: #F5F5F5;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

.navbar button {
  background: #27ae60;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
#plusIcon{
    transition: transform 0.3s ease;
}
#plusIcon.rotated {
  transform: rotate(180deg);
}


.input-area {
  display: none;
  padding: 20px;
  background: #F5F5F5;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input-area input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

#saveTask {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

ul#taskList {
  list-style: none;
  padding: 20px;
}
#taskList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    padding: 20px;
}
.task-item {
  background-color: white;
  padding: 12px;
  margin: 10px auto;
  max-width: 500px;
  border-radius: 4px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.task-text {
  flex: 1;
   word-break: break-word;
  overflow-wrap: break-word;
}

.edit-btn, .delete-btn {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.edit-btn {
  background-color: #f39c12;
  color: white;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
}

.edit-input {
  width: 85%;
  padding: 6px;
  font-size: 16px;
  margin-bottom: 10px;
 
}