*{
margin : 0;
padding : 0;
box-sizing:border-box;
}

html, body {
width: 100%;
height: 100%;
background: black;
color: white;
}

.static{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: static;
    
}
.relative{
    width: 200px;
    height: 200px;
    background-color: rgb(20, 52, 231);
    position: relative;
    top: 50%;
}

.fixed{
    width: 200px;
    height: 200px;
    background-color: rgb(20, 231, 48);
    position: fixed;
    right: 0px;
    bottom: 0px;    
}
.absolute{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 0px;
    right: 10px;
}

.sticky{
    width: 200px;
    height: 100px;
    background-color: rgb(86, 30, 240);
   position: sticky;
  top: 0;
  padding: 5px;
    /* left: 50%; */
}
